body {
    font-family: 'Metal Mania', cursive;
    background: url(../images/black-metal-wallpaper.jpg);
}

.jumbotron {
    color: #eeeeee;
    margin-top: 3em;
    background: url(../images/skeleton.jpg);
    background-size: cover;
}

.btn-default {
    background: #eeeeee;
}

iframe {
    position: fixed;
    bottom: 0;
}
